@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');*
{
    box-sizing:border-box;
    font-family: 'Source Sans Pro','sans serif';
    margin: 0;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
header
{
    position: fixed;
    background-color: orange;
    width: 100%;
}
.header_container
{
    margin: auto;
    max-width: 1700px;
    padding: 0.6rem;
}
header a
{
    color: black;
    text-decoration: none;
    padding: 0 1rem;
}
header img
{
    width: 35px;
    height: 35px;
    display: inline;
    /*padding: 1px;*/
    margin: 0.5px;
}
h1
{
    display: inline;
}
nav
{
    float: right;
    margin: 10px;
}
header li
{
    display: inline;
    font-size: 20px;
    margin: auto;
    list-style: none;
}
.header-lema
{
    margin: auto;
    display: inline;
    text-align: center;
}
.presentation
{
    height: 720px;
    font-size: 25px;
}
.presentation-video
{
    height: 720px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.presentation-video video
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.dark-overlay
{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 96%;
}
.presentation-content
{
    color: white;
    text-align: center;;
    padding: 285px 0;
    margin: auto;
}
.presentation-content h3
{
    font-size: 20px;
}
/*seccion sobre nosotros*/
.aboutus
{
    height: 500px;
    font-size: 18px;
    background-color: rgb(248, 212, 144);
}
.about-container
{
    width: 50%;
    height: 100%;
    color: black;
}
.about-content
{
    text-align: justify;
    padding: 100px 30px;
}
.about-title
{
    text-align: center;
    font-size: 30px;
    padding: 1px;
}
#about-img1
{
    background: url(/imgs/pastel2.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}

/*seccion de historia*/
.historia
{
    height: 500px;
    font-size: 18px;
    background-color:rgb(248, 212, 144);
}
.historia-container
{
    width: 50%;
    height: 100%;
    color: black;
}
.historia-content
{
    text-align: justify;
    padding: 100px 30px;
}
.historia-title
{
    text-align: center;
    font-size: 30px;
    padding: 1px;
}
#historia-img2
{
    background: url(/imgs/pasteles3.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}
/*Seccion de pasteles*/
.Pasteles
{
    height: 1600px;
    font-size: 24px;
    background-color: rgb(248, 212, 144);
}
.pasteles-title
{
    padding: 30px;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center; 
}
div.pasteless
{
    margin: 20px 37px;
    box-shadow: 0 4px 8px 0 lightskyblue, o 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;
}
div.pasteless img
{
    width: 100%;
    height: auto;
}
div.pasteless:hover
{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}
div.pie
{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
/* los divisores */
hr
{
    height: 10px;
    background-color: orange;
}
/* seccion de adornos */
.adornos
{
    height: 1000px;
    font-size: 24px;
    background-color: rgb(248, 212, 144);
}
.adornos-title
{
    padding: 30px;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}
div.adornoss
{
    margin: 30px 37px;
    box-shadow: 0 4px 8px 0 lightskyblue, o 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;
}
div.adornoss img
{
    width: 100%;
    height: auto;
}
div.adornoss:hover
{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}
div.apie
{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}
/* formulario */
.formulario
{

    font-family: 'Montserrat',sans-serif;
    height: 1000px;
    min-height: 50vw;
    width: 100%;
    /*height: 100px;*/
    background-color: rgb(248, 212, 144);
    display: flex;
}

.form_input
{
    text-align: center;
    font-family: inherit;
    display: block;
    font-size: 1rem;
    padding: .3em .6em;
    outline: none;
    border: none;
    border:2px solid rgb(19, 18, 18);
    border-radius: 0.2em;
}
.form-container
{
    width: 100%;
    display: grid;
    /*gap 1em /*espaciador */
    text-align: center;
    grid-auto-columns: 100%;
    padding: 5px;
}
.formm
{
    text-align: center;
    margin: 0px auto;
}

.form_cta
{
    font-family: inherit;
    background-color: rgb(53, 134, 201);
    color: #fff;
    border: none;
    font-weight: 400;
    font-size: 1rem;
    padding: .7em 0;
    border-radius:.2em ;
    cursor: pointer;
}
.form
{
    background-color: white;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}
.form-title
{
    text-align: center;
    font-size: 1.8rem;
    padding: 10px 1px ;
}
.form_input-message
{
    resize: none;
    padding:1.8em 1em;
    margin-bottom: .5em;
}

/* footer */
.pie-pagina
{
    width: 100%;
    background-color: rgb(48, 44, 44)
}
.pie-pagina .grupo1
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo1 .box figure
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo1 .box figure img
{
    width: 250px;
}
.pie-pagina .grupo1 .box h2
{
    color: white;
    margin-bottom: 25px;
    font-size: 30px;
}

.pie-pagina .grupo1 .box
{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo1 .red-social
{
    text-decoration: none;
    width: 65px;
    height: 45px;
    line-height: 45px;
    margin-right: 40px;
    color: white;
    text-align: center;
    transition: all 300ms ease;
    display: inline;
}
.pie-pagina .grupo1 .red-social a:hover
{
    color: aqua;
}
.pie-pagina .grupo2
{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie-pagina .grupo2
{
    font-size: 25px;
}